.pane{
    -fx-background-image: url("../images/Parchment.jpg");
    -fx-background-size: 100% 100%;
}

.text{
    -fx-font-family: "Enchanted Land";
    -fx-font-size: 18;
}

.textbody{
    -fx-font-family: "Enchanted Land";
    -fx-font-size: 35;
}

.textBig{
    -fx-font-family: "Enchanted Land";
    -fx-font-size: 40;
}

.textError{
    -fx-font-family: "Enchanted Land";
    -fx-font-size: 35;
    -fx-fill: red;
}

Button{
    -fx-background-image: url("../images/Banner.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}


Button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


